{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
  <section class="section form-center">
    <div class="section-head">
      <h3>ORGANOGRAM</h3>
      <div class="section-underline"></div>
    </div>
      <br>
      <h4>BOARD OF TRUSTEES</h4>
      <div class="form-container blog-detail">
        <ul>
          <li>This is the highest decision-making body of the organisation </li>
          <li>Takes administrative decisions for the organisation </li>
          <li>Gives ultimate sanction for every misconduct or negligence within the organisation </li>
          <li>Members and executives can submit an appeal to the BoT if they have any concerns about anything and anyone within the organisation </li>
        </ul>
      </div>
      <br>
      <h4>EXECUTIVES</h4>
      <div class="form-container blog-detail">
        <ul>
          <li>The executive position is for a year (January to December) after which the executive can decide whether to continue or to hand over.</li>
          <li>Every executive must take full responsibility for his/her members </li>
          <li>Negligence of duty without appropriate permission will attract penalties as determined by the Board of Trustees  </li>
        </ul>
      </div>
    
    
    <div class="section-head">
      <h3>ROLE DESCRIPTION </h3>
      <div class="section-underline"></div>
    </div>
      <br>
      <h4>KLI BOARD OF TRUSTEES </h4>
      <div class="form-container blog-detail">
        <ul>
          <li>President </li>
          <li>Vice President </li>
          <li>General Secretary </li>
          <li>Human Resources director</li>
        </ul>
      </div>
      <br>
      <h4>KLI EXECUTIVE POSITIONS</h4>
      <div class="form-container blog-detail">
        <ul>
          <li>President</li>
          <li>Vice President</li>
          <li>General Secretary</li>
          <li>Content Directorate </li>
          <li>Publicity Directorate </li>
          <li>Editorial Directorate </li>
          <li>Grants Directorate </li>
          <li>Finance Directorate </li>
          <li>Special Duty Directorate </li>
          <li>Human Resources Directorate </li>
          <li>Design & Videography Directorate </li>
        </ul>
      </div>
      <br>
      <h4>ROLES OF EXECUTIVES</h4>
      <div class="form-container blog-detail">
      <h5>President/Team Lead (TL)</h5>
        <ul>
          <li>The overall head of the organization</li>
          <li>Ensures that the other executives work in line with the organization's goal and vision </li>
        </ul>
        <br>
      <h5>Vice President </h5>
        <ul>
          <li>To assist the President in the supervisory role</li>
          <li>Can act on behalf of the President once he/she has the directive to do so </li>
        </ul>
        <br>
      <h5>General Secretary (GS) </h5>
        <ul>
          <li>Keeps important documents of the organization electronically </li>
          <li>Write the briefs of every meeting and store them electronically  </li>
          <li>Submit monthly summary to the president on achievements and limitations  </li>
        </ul>
        <br>
      <h5>Content Directorate(CD)</h5>
        <ul>
          <li>Create the content for every graphic, clip, bulletin, seminar, summit, conference, social impact project etc of the organization </li>
          <li>Work closely with other executives to generate content  </li>
          <li>All contents must go through the Editorial directorate for proper review and correction.  </li>
          <li>Submit monthly summary to the president on directorate achievements and limitations </li>
        </ul>
        <br>
      <h5>Design and videography Directorate (DVD) </h5>
        <ul>
          <li>Should have graphic designers and videography </li>
          <li>Transform the content into graphic designs and/or video clips </li>
          <li>Submit monthly summary to the president on directorate achievements and limitations</li>
        </ul>
        <br>
      <h5>Editorial Directorate(ED)</h5>
        <ul>
          <li>Review every document or content created by the General secretary, content directorate and DVD for correctness before they are stored or published.</li>
          <li>Submit monthly summary to the president on directorate achievements and limitations </li>
        </ul>
        <br>
      <h5>Publicity Directorate (PD) </h5>
        <ul>
          <li>Publication and dissemination of graphics, bulletins, clips, tweets and posts etc </li>
          <li>Manages the social media handles of the organization ( Instagram, Twitter, Facebook, LinkedIn, youtube) </li>
          <li>Manages the website of the organization for updating events, activities and other contents</li>
          <li>Submit monthly summary to the president on directorate achievements and limitations</li>
        </ul>
        <br>
      <h5>Grants Directorate(GD) </h5>
        <ul>
          <li>Search for available grants to fund the various projects and programs of the organization  </li>
          <li>Work with the general secretary and editorial directors in applying for the grants</li>
          <li>Follow up on grants applied for and periodically look for other grants </li>
          <li>Win grants for the organization </li>
          <li>Submit monthly summary to the president on directorate achievements and limitations</li>
        </ul>
        <br>
      <h5>Finance Directorate (FD)</h5>
        <ul>
          <li>Keep a record of the organization income and expenditures </li>
          <li>Source for funds (aside from grants) to finance various projects and programs of the organization.</li>
          <li>Be in charge of monthly contributions from members</li>
          <li>Submit monthly summary to the president on directorate achievements and limitations</li>
        </ul>
        <br>
      <h5>Special Duty Directorate (SDD)</h5>
        <ul>
          <li>Manages the distribution of letters </li>
          <li>Sets up the venue of events</li>
          <li>Work with the president and general secretary to meet with partners.</li>
          <li>Performs other activities that are not in the jurisdiction of any directorate </li>
          <li>Submit monthly summary to the president on directorate achievements and limitations</li>
        </ul>
        <br>
      <h5>Human Resources Directorate (HRD)</h5>
        <ul>
          <li>Ensure the welfare of every executive and member of the organization</li>
          <li>Recruit and train new members for the organization </li>
          <li>Ensure regular and periodic training of executives and members of the organization on various things like our values, leadership, soft skills, hard skills and other life-transforming seminars </li>
          <li>Ensure refreshments for every event or meeting.</li>
          <li>Submit monthly summary to the president on directorate achievements and limitations </li>
        </ul>
        <br>
      </div>
      <div class="section-head">
      <h3>ORGANIZATIONAL EVENTS AND FLOW CHART</h3>
      <div class="section-underline"></div>
    </div>
      <br>
      <h4>RECURRENT EVENTS</h4>
      <div class="form-container blog-detail">
        <ol>
          <li>Leadership/SDG Tweet(graphic)…. <b>Weekly (sundays)</b></li>
          <li>Short leadership charge clip… <b>Monthly (1st Tuesdays )</b> </li>
          <li>Roleplay on/ Dramatization of leadership qualities…. <b>Bimonthly ( 1st Fridays)</b></li>
          <li>Bulletin on Leadership/SDG (1-2 pages)… <b>Quarterly (1st Mondays)</b></li>
          <li>In-house training (value exposition, soft & hard skill training, book review, SDG exposition etc) … <b>During monthly meetings</b> </li>
          <li><b>Annual</b> Leadership summit with SDG events (Tertiary category) </li>
          <li><b>Annual</b> Leadership summit with SDG events (High school category)</li>
          <li>Book writing and launching </li>
        </ol>
      </div>
      <br>
      <h4>FLOW CHART FOR EVENTS</h4>
      <div class="form-container blog-detail flow-chart">
        <ol>
          <li><b>Weekly quote(graphic): </b>CD <i class="fas fa-arrow-right"></i> ED <i class="fas fa-arrow-right"></i> CD <i class="fas fa-arrow-right"></i> DVD <i class="fas fa-arrow-right"></i> TL <i class="fas fa-arrow-right"></i> GS <i class="fas fa-arrow-right"></i> PD <i class="fas fa-arrow-right"></i> Public</li>
          <li><b>Short leadership charge clip: </b> CD <i class="fas fa-arrow-right"></i> ED <i class="fas fa-arrow-right"></i> CD <i class="fas fa-arrow-right"></i> SDD <i class="fas fa-arrow-right"></i> CD <i class="fas fa-arrow-right"></i> DVD <i class="fas fa-arrow-right"></i> TL <i class="fas fa-arrow-right"></i> GS <i class="fas fa-arrow-right"></i> PD <i class="fas fa-arrow-right"></i> Public</li>
          <li><b>Roleplay on/ Dramatization of leadership qualities:  </b> CD <i class="fas fa-arrow-right"></i> ED <i class="fas fa-arrow-right"></i> CD <i class="fas fa-arrow-right"></i> SDD <i class="fas fa-arrow-right"></i> CD <i class="fas fa-arrow-right"></i> DVD <i class="fas fa-arrow-right"></i> TL <i class="fas fa-arrow-right"></i> GS <i class="fas fa-arrow-right"></i> PD <i class="fas fa-arrow-right"></i> Public</li>
          <li><b>Bulletin on Leadership (1-2 pages):  </b> CD <i class="fas fa-arrow-right"></i> ED <i class="fas fa-arrow-right"></i> CD <i class="fas fa-arrow-right"></i> DVD <i class="fas fa-arrow-right"></i> TL <i class="fas fa-arrow-right"></i> GS <i class="fas fa-arrow-right"></i> PD <i class="fas fa-arrow-right"></i> Public</li>
          <li><b>In-house training (value exposition, soft & hard skill training, book review, SDG exposition etc):  </b>HRD <i class="fas fa-arrow-right"></i> ED <i class="fas fa-arrow-right"></i> HRD <i class="fas fa-arrow-right"></i> SDD <i class="fas fa-arrow-right"></i> HRD <i class="fas fa-arrow-right"></i> DVD <i class="fas fa-arrow-right"></i> HRD <i class="fas fa-arrow-right"></i> TL <i class="fas fa-arrow-right"></i> GS <i class="fas fa-arrow-right"></i> HRD</li>
          <li><b>Annual Leadership summits (Tertiary category):  </b>SDD, HRD, CD, TL & GS <i class="fas fa-arrow-right"></i> GD & FD <i class="fas fa-arrow-right"></i> SDD, HRD, CD, TL & GS <i class="fas fa-arrow-right"></i> ED <i class="fas fa-arrow-right"></i> SDD, HRD, CD, TL & GS <i class="fas fa-arrow-right"></i> DVD <i class="fas fa-arrow-right"></i> DVD <i class="fas fa-arrow-right"></i> SDD, HRD, CD, TL & GS <i class="fas fa-arrow-right"></i> PD <i class="fas fa-arrow-right"></i> Public</li>
          <li><b>Annual Leadership summits (High school category):  </b>SDD, HRD, CD, TL & GS <i class="fas fa-arrow-right"></i> GD & FD <i class="fas fa-arrow-right"></i> SDD, HRD, CD, TL & GS <i class="fas fa-arrow-right"></i> ED <i class="fas fa-arrow-right"></i> SDD, HRD, CD, TL & GS <i class="fas fa-arrow-right"></i> DVD <i class="fas fa-arrow-right"></i> DVD <i class="fas fa-arrow-right"></i> SDD, HRD, CD, TL & GS <i class="fas fa-arrow-right"></i> PD <i class="fas fa-arrow-right"></i> Public</li>
        </ol>
      </div>

<div class="section-head">
      <h3>LONG TERM PLANS</h3>
      <div class="section-underline"></div>
    </div>
      <br>
      <h4>5 YEAR PLAN:  LAYING A SOLID & SELF SUSTAINING FOUNDATION </h4>
      <div class="form-container blog-detail">
        <ol>
          <li>To have well motivated members and Executives</li>
          <li>To publish an attractive age appropriate fellowship coursework for both high school and tertiary categories</li>
          <li>To develop the most effective way to recruit, deliver and coordinate the fellowship (virtual &/or physical)</li>
          <li>To develop organisation website that will also contain the portal for the fellowship </li>
          <li>To develop a concise and motivating proposal for potential donors and sponsors for the fellowship </li>
          <li>To register the organisation as corporate body</li>
          <li>To create the bank account for the organisation (local & domiciliary)</li>
          <li>To develop a student friendly mobile app that will serve as a tool for having a seamless fellowship experience </li>
          <li>Successfully organize and execute at least 2 fellowships in both tertiary and secondary categories </li>
        </ol>
      </div>
      <br>
      <h4>10 YEARS PLAN: BUILD SUPERSTRUCTURE ON THE SOLID FOUNDATION </h4>
      <div class="form-container blog-detail">
        <ul>
          <li>Extend the tentacle of the fellowship </li>
          <li>Review the foundation and make it better</li>
          <li>Strengthen the mentorship scheme </li>
          <li>Develop the social enterprise component of the organisation </li>
          <li>Review the coursework and publish it with better graphics  </li>
        </ul>
      </div>
      <div class="form-container">
        <p><a href="{% url 'mainapp:directorate_form' %}" class="signup-url">Click here to fill directorate's evaluation form.</a></p>
        <p><a href="{% url 'mainapp:evaluation_form' %}" class="signup-url">Click here to fill KLA Monthly Members and Executives Evaluation Form</a></p>
      </div>
      <br>
      <br>
  </section>

{% endblock content %}
