{% load static %}
<section class="banner">
      <div class="banner-video">
        <video muted autoplay loop class="video-container">
        <source src="{% static 'main/img/banner small.mp4' %}" type="video/mp4" />
      </video>
        <!-- <img src="./img/IMG_0102.HEIC" alt="">
        <img src="./img/vision-2372177.jpg" alt="">
        <img src="./img/IMG_0003.JPG" alt=""> -->
      </div>
      <div class="banner-text">
        <h1>Kingdom Leads</h1>
        <h3>Africa</h3>
        <br>
        <p>Promoting the lifestyle of true leadership in Africa</p>
      </div>
      <!-- <div class="banner-text">
        <p>Banner will be here</p>
      </div> -->
    </section>