{% extends 'main/base.html' %}
{% load static %}
{% block content %}
  <section class="executives">
    <div class="executives-head">
          <h1>meet our executives</h1>
          <div class="executives-underline"></div>
      </div>
    <div class="executives-center">
      <!-- single executive -->
      <article class="executive" data-aos="fade-up" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/kolawole.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Kolawole olanrewaju</h2>
          <h3 class="position">team lead</h3>
          <p class="detail">600L, Medicine and Surgery UI. Fellow, YALI & MCN, </p>
          <p class="quote">"We are our raw material, we are our finished product, leadership is the process of the transformation "</p>
        </div>
      </article>
      <!-- end of single executive -->
      <!-- single executive -->
      <article class="executive" data-aos="fade-up" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/Odekunle mercy.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Odekunle Mercy </h2>
          <h3 class="position">General secretary</h3>
          <p class="detail">Graduate of Health Education, UI</p>
          <p class="quote">"True leadership cannot be divorced from the basic qualities that produce good and sound characters"</p>
        </div>
      </article>
      <!-- end of single executive -->
      <!-- single executive -->
      <article class="executive" data-aos="fade-down" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/abe oluwatoyin.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Abe Oluwatoyin</h2>
          <h3 class="position">Financial director </h3>
          <p class="detail">Graduate of Biochemistry, UI </p>
          <p class="quote">"He who has never learned to obey cannot be a good commander"</p>
        </div>
      </article>
      <!-- end of single executive -->
      <!-- single executive -->
      <article class="executive" data-aos="fade-up" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/osusami Rufus.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Osunsami Rufus</h2>
          <h3 class="position">Human resource director</h3>
          <p class="detail">200L, History Education, UI</p>
          <p class="quote">"Leaders often initiate their own learning"</p>
        </div>
      </article>
      <!-- end of single executive -->
      <!-- single executive -->
      <article class="executive" data-aos="fade-up" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/kolawole aduragbemi.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Kolawole Aduragbemi</h2>
          <h3 class="position">Publicity director </h3>
          <p class="detail">200L Agronomy, UI</p>
          <p class="quote">"The task of leadership is not to put greatness into people, but to elicit it, for the greatness is there already"</p>
        </div>
      </article>
      <!-- end of single executive -->
      <!-- single executive -->
      <article class="executive" data-aos="fade-up" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/olakunle david.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Olukunle David</h2>
          <h3 class="position">Editorial director</h3>
          <p class="detail">300L electrical and electronics engineering, UI</p>
          <p class="quote">"When the wind of change blew,some built walls while others built wind mills... Chinese proverb"</p>
        </div>
      </article>
      <!-- end of single executive -->
      <!-- single executive -->
      <article class="executive" data-aos="fade-up" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/ogunbiyi hannah.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Ogunbiyi Hannah</h2>
          <h3 class="position">Graphics design and videography director</h3>
          <p class="detail">400L pharmacy, UI.</p>
          <p class="quote">"A leader is best when people barely know he exists, when his work done, his aim fulfilled, they will say: we did it ourselves"</p>
        </div>
      </article>
      <!-- end of single executive -->
      <!-- single executive -->
      <article class="executive" data-aos="fade-up" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/alufa Oluwaferanmi.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Alufa Oluwaferanmi </h2>
          <h3 class="position">Grant Director</h3>
          <p class="detail">400L, Bachelor of Dental Surgery, UI</p>
          <p class="quote">"The spirit of a leader is cheerful, pleasant, optimistic, positive and open"</p>
        </div>
      </article>
      <!-- end of single executive -->
      <!-- single executive -->
      <article class="executive" data-aos="fade-up" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/adelusi blessing.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Adelusi Blessing</h2>
          <h3 class="position">Content Director </h3>
          <p class="detail">200L, Agricultural Economics, UI</p>
          <p class="quote">"Finding solutions rather than comamplaining about a problem makes you a true leader"</p>
        </div>
      </article>
      <!-- end of single executive -->
      <!-- single executive -->
      <article class="executive" data-aos="fade-up" data-aos-duration="2000">
        <div class="executive-img-container">
          <img src="{% static 'main/img/wale.jpg' %}" alt="">
        </div>
        <div class="executive-info">
          <h2 class="name">Akinsote adewale</h2>
          <h3 class="position">Director of special duty</h3>
          <p class="detail">600L Bachelor of Dental Surgery</p>
          <!-- <p class="quote">"Finding solutions rather than comamplaining about a problem makes you a true leader"</p> -->
        </div>
      </article>
      <!-- end of single executive -->
    </div>
  </section>
{% endblock content %}