{% load static %}
{% url 'main:home_page' as home %}
{% url 'main:our_executives' as executives %}
{% url 'main:about_page' as about %}
{% url 'main:programs_page' as programs %}
{% url 'main:donation_page' as donation %}
{% url 'membership:application_form' as membership %}
{% url 'blog:post_list' as blog %}
<header>
    <nav class="nav-bar">
      <div class="nav-top">
        <div class="nav-logo">
          <a href="{% url 'main:home_page' %}">
            <img src="{% static 'main/img/logo.png' %}" alt="my logo">
          </a>
        </div>
        <div class="nav-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div class="nav-contents">
        <ul class="nav-links">
          <li class="{% if request.path == home %} active-nav {% endif %}"><a href="{% url 'main:home_page' %}" class="nav-link">home</a></li>
          <li class="{% if request.path == about %} active-nav {% endif %}"><a href="{% url 'main:about_page' %}" class="nav-link">about us</a></li>
          <li class="{% if request.path == executives %} active-nav {% endif %}"><a href="{% url 'main:our_executives' %}" class="nav-link">meet the executives</a></li>
          <li class="{% if request.path == programs %} active-nav {% endif %}"><a href="{% url 'main:programs_page' %}" class="nav-link">our programs</a></li>
          <li class="{% if request.path == membership %} active-nav {% endif %}"><a href="{% url 'membership:application_form' %}" class="nav-link">become a member</a></li>
          <li class="{% if request.path == donation %} active-nav {% endif %}"><a href="{% url 'main:donation_page' %}" class="nav-link">donation/partnership</a></li>
          <li class="{% if request.path == blog %} active-nav {% endif %}"><a href="{% url 'blog:post_list' %}" class="nav-link">blog</a></li>

        </ul>
      </div>
    </nav>
  </header>