{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <section class="section programs">
    <div class="section-head">
      <h1>our programs</h1>
      <div class="section-underline"></div>
    </div>
    <div class="programs-info">
      <!-- single mission -->
          <article class="mission show-text">
            <!-- mission title -->
            <div class="mission-title">
              <p>High school students</p>
              <button type="button" class="mission-btn">
                <span class="plus-icon">
                  <i class="far fa-plus-square"></i>
                </span>
                <span class="minus-icon">
                  <i class="far fa-minus-square"></i>
                </span>
              </button>
            </div>
            <!-- mission text -->
            <div class="mission-text">
              <p>Annual Kingdom Leads Africa Fellowship for High School Students</p>
            </div>
          </article>
          <!-- end of single mission -->
      <!-- single mission -->
          <article class="mission">
            <!-- mission title -->
            <div class="mission-title">
              <p>Fresh Tertiary Students</p>
              <button type="button" class="mission-btn">
                <span class="plus-icon">
                  <i class="far fa-plus-square"></i>
                </span>
                <span class="minus-icon">
                  <i class="far fa-minus-square"></i>
                </span>
              </button>
            </div>
            <!-- mission text -->
            <div class="mission-text">
              <p>Annual Kingdom Leads Africa Fellowship for Fresh Tertiary School Students</p>
            </div>
          </article>
          <!-- end of single mission -->
      <!-- single mission -->
          <article class="mission">
            <!-- mission title -->
            <div class="mission-title">
              <p>Mentorship</p>
              <button type="button" class="mission-btn">
                <span class="plus-icon">
                  <i class="far fa-plus-square"></i>
                </span>
                <span class="minus-icon">
                  <i class="far fa-minus-square"></i>
                </span>
              </button>
            </div>
            <!-- mission text -->
            <div class="mission-text">
              <p>Lifetime mentorship for fellows of the KLAF</p>
            </div>
          </article>
          <!-- end of single mission -->
    </div>
  </section>
{% endblock content %}